
<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Kayıt Ol</h3>
                <div class="login-agileits-top">
                    <form method="post">
                        <input type="text" class="name" name="CurrentName" Placeholder="Tam Ad" required="" />
                        <input type="email" class="email" name="Mail" Placeholder="Email" required="" />
                        <input type="text" class="name" name="City" Placeholder="Şehir" required="" />
                        <input type="text" class="name" name="Country" Placeholder="Ülke" required="" />

                        <input type="text" class="phone" name="Phone" Placeholder="Telefon Numarası" required="" />
                        <input type="text" class="name" name="TaxOffice" Placeholder="Vergi Dairesi" required="" />
                        <input type="password" class="password" name="password" Placeholder="Şifre" required="" />
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Okudum Onaylıyorum <a href="#">Kullanım &amp; Koşullar</a></label>
                        </div>
                        <input type="submit" value="Kaydol">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
